.navbar{
	position: fixed;
	z-index: 1000;
	width: 100%;
}

.nav{
	display: inline;
}

.container{
	margin-bottom: 20;
}

.row{
	margin-top: 100;
}

.card{
	border-style: none;
}
	

.card-block{
	height: 280px;
	padding-top: 8px;
	border-style: solid;
	border-color: orange;
	border-width: 2px 2px 0px 2px;

}

.card-block2{
	height: 150px;
	border-style: solid;
	border-color: orange;
	border-width: 2px 2px 0px 2px;
}

.card-block3{
	height: 170px;
	border-style: solid;
	border-color: orange;
	border-width: 2px 2px 2px 2px;

}

.card-blockright{
	border-style: solid;
	border-color: orange;
	border-width: 2px 2px 2px 2px;
}

.col-md-3{
	background-color: orange;
	font-size: 16px

}

.col-md-8{
	background-color: white;
	font-size: 20px;
}

body{
	font-family: 'Libre Baskerville', serif;
}
h4{
	font-size: 25px;
	font-color: orange;
}
.navbar{
	background-color: orange;
	margin-bottom: 0px;
	padding: 0;
}
.navimage{
	height: 50px;
	width: auto;
	margin: 5px;
	position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.navbar-nav .nav-link,
.navbar-nav>li {
	float:	right;
	position: relative;
	margin-right: 10px;
	font-size: 13;
	font-color: black;
	font-weight: bold;
	padding: 10;
}
.card-text{
	font-size: 18px;
	padding: 20 ;
}
.card-textsecond{
	font-size: 15px;
	padding-left: 20;
}

.card-textthird{
	font-size: 14px;
	padding-left: 20;
	padding-right: 20;
	padding-bottom: 10;
}

.card-textright{
	font-size: 14px;
	padding-top: 20;
}
	

.card-title{
	padding-top: 20;
	padding-bottom: 5;
	padding-left: 20;
}



